<footer class="main-footer">Copyright &copy; 2016 westcoastvg.online. All rights reserved.</footer></div>


<script type="text/ng-template" id="sharewithmodal">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/newloginclose.png"> </a>
        <div class="clearfix"></div>
        <h2 style="text-align: left; font-size: 20px; padding: 10px 0;">You will automatically logged out in 1 min.  Please click here to stay logged in</h2>
        <div class="confirm_delbtn ng-scope">
            <input type="button" class="subbtn" value="Ok" ng-click="savesharewith()">
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</script>