<script  type="text/javascript">
   /* function allpopup(){

     //alert('test1');
        ('#webtourmodal1').modal('hide');
    }*/
/*
$(function(){
    alert(1);
})
*/

</script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>Dashboard</h1>
        <ol class="breadcrumb">
            <li><a target="_blank" ui-sref="index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="dashboard">
                    <div class="inner">
                        <h3>HOME</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon1.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" ui-sref="index" target="_blank" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="admin-list">
                    <div class="inner">
                        <h3>Manage Admin</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon2.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="role-list">
                    <div class="inner">
                        <h3>Manage Role</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon3.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="user-list">
                    <div class="inner">
                        <h3>Manage User</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon4.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="generaluser-list">
                    <div class="inner">
                        <h3>Customers List</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon7.png" alt="#" style="display:block; margin:14px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="contributor-list">
                    <div class="inner">
                        <h3>Contributor List</h3>
                    </div>
                    <div class="icon">
                        <img src="images/aicon3.png" alt="#" style="display:block; margin:14px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div  class="small-box bg-gray" ui-sref=" auditorlist">
                    <div class="inner">
                        <h3>Auditor Manager</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon14.png" alt="#" style="display:block; margin:24px auto; width:48px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="pilot-list">
                    <div class="inner">
                        <h3>Pilot List</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon7.png" alt="#" style="display:block; margin:14px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="signupuser-list">
                    <div class="inner">
                        <h3>Member Signup Leads</h3>
                    </div>
                    <div class="icon">
                        <img src="images/aicon3.png" alt="#" style="display:block; margin:29px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="signupuser-list">
                    <div class="inner">
                        <h3>Contact Leads</h3>
                    </div>
                    <div class="icon">
                        <img src="images/aicon4.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="event-list">
                    <div class="inner">
                        <h3>Manage Events</h3>
                    </div>
                    <div class="icon">
                        <img src="images/aicon5.png" alt="#" style="display:block; margin:24px auto; width:48px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="event-rsvp">
                    <div class="inner">
                        <h3>Event Rsvp</h3>
                    </div>
                    <div class="icon">
                        <img src="images/aicon6.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="flight-list" >
                    <div class="inner">
                        <h3>Flight  Manager</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon8.png" alt="#" style="display:block; margin:21px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="category-list">
                    <div class="inner">
                        <h3>Category  Manager</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon9.png" alt="#" style="display:block; margin:21px auto; width:55px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div class="small-box bg-gray" ui-sref="product-list">
                    <div class="inner">
                        <h3> Stock Photo/Video Inventory</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon10.png" alt="#" style="display:block; margin:21px auto; width:50px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <!--<div class="col-lg-3 col-xs-6">
                <div  class="small-box bg-gray" ui-sref="imagesize-list">
                    <div class="inner">
                        <h3>Image Size  Manager</h3>
                    </div>
                    <div class="icon">
                        <img src="images/naicon11.png" alt="#" style="display:block; margin:21px auto; width:48px;">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>-->

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="documentcategorylist">
                    <div class="inner">
                        <h3>Document Category Manager</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon5.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="documentlist({id:0})">
                    <div class="inner">
                        <h3>Document Manager</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon6.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="legendlist">
                    <div class="inner">
                        <h3>Legend Manager</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon6.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox" ng-if="userid == 168">
                <div class="small-box bg-gray" ui-sref="user-ip-list">
                    <div class="inner">
                        <h3>IP Track Report</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon7.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6 dbadminbox" >
                <div class="small-box bg-gray" ui-sref="myprofile">
                    <div class="inner">
                        <h3>Manage Account</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon7.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6 dbadminbox">
                <div class="small-box bg-gray" ui-sref="logout">
                    <div class="inner">
                        <h3>log out</h3>
                    </div>
                    <div class="db_newicon">
                        <img src="../images/db_icon8.png" alt="#">
                    </div>
                    <a href="javascript:void(0);" class="db_adminlink">More info </a>
                </div>
            </div>
        </div>
    </section>




    <button type="button" class="webtourbtn" data-toggle="modal" data-target="#webtourmodal1">Start Web Tour</button>
<div class="clearfix"></div>
    <!-- Modal 1 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_1.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                       <!-- <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal2" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />-->
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal2" ng-click="hidemodal1()"  />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 2 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_2.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal1" ng-click="hidemodal2()" />
                         <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal3"  ng-click="hidemodal2()"  />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 3 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_3.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal2"   ng-click="hidemodal3()"/>
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal4"   ng-click="hidemodal3()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>












    <!-- Modal 4 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal4" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_4.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal3"  ng-click="hidemodal4()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal5" ng-click="hidemodal4()" />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 5 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal5" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_5.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal4" ng-click="hidemodal5()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal6" ng-click="hidemodal5()" />


                    </div>




                </div>

            </div>

        </div>
    </div>




    <!-- Modal 6 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal6" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_6.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal5" ng-click="hidemodal6()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal7" ng-click="hidemodal6()" />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 7 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal7" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_7.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal6"  ng-click="hidemodal7()"/>
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal8" ng-click="hidemodal7()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 8 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal8" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_8.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal7"  ng-click="hidemodal8()"/>
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal9"  ng-click="hidemodal8()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 9 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal9" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_9.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal8" ng-click="hidemodal9()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal10" ng-click="hidemodal9()" />


                    </div>




                </div>

            </div>

        </div>
    </div>

    <!-- Modal 10 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal10" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_10.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal9"  ng-click="hidemodal10()"/>
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal11" ng-click="hidemodal10()" />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 11 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_11.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal10" ng-click="hidemodal11()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal12"  ng-click="hidemodal11()" />


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 12 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal12" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_12.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal11"  ng-click="hidemodal12()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal13"  ng-click="hidemodal12()" />


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 13 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal13" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_13.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal12"  ng-click="hidemodal13()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal14"  ng-click="hidemodal13()" />


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 14 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal14" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_14.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal13"  ng-click="hidemodal14()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal15"  ng-click="hidemodal14()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 15 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal15" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_15.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal14"  ng-click="hidemodal15()" />
                    <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal16"   ng-click="hidemodal15()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 16 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal16" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_16.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal15"  ng-click="hidemodal16()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal17"   ng-click="hidemodal16()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 17 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal17" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_17.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal16"  ng-click="hidemodal17()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal18"   ng-click="hidemodal17()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 18 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal18" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_18.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal17"  ng-click="hidemodal18()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal19"   ng-click="hidemodal18()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 19 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal19" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_19.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal18"  ng-click="hidemodal19()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal20"   ng-click="hidemodal19()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>



    <!-- Modal 20 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal20" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_20.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal19"  ng-click="hidemodal20()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal21"   ng-click="hidemodal20()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 21 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal21" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_21.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal20"  ng-click="hidemodal21()" />
                        <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal22"   ng-click="hidemodal21()"/>


                    </div>




                </div>

            </div>

        </div>
    </div>


    <!-- Modal 22 -->

    <div class="modal fade webtourmodalcontain" id="webtourmodal22" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    <img src="../images/start_web_tour_22.jpg" alt="#" class="web_tourimg" />



                    <img src="../images/skipbtn.png" alt="#" class="web_tourskipbtn" data-dismiss="modal" />

                    <div class="modal_nextprev">
                        <img src="../images/prevbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal21"  ng-click="hidemodal22()" />
                       <!-- <img src="../images/btndevider.png" alt="#" style="width: 1%; margin: 0 5%"   />
                        <img src="../images/nextbtn.png" alt="#"  data-toggle="modal" data-target="#webtourmodal22"   ng-click="hidemodal22()"/>-->


                    </div>




                </div>

            </div>

        </div>
    </div>
    <!---------------------------------------->

</div>