<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Document Manager</h1>

        <div class="newblock1">
            <input type="text" name="search" ng-model="searchkey" class="search1" placeholder="Search Document">

            <div class="clear"></div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Document Trash List</h3>
                    </div>

                    <table id="example1" class="table table-bordered table-striped" ng-show="documentlist.length>0">
                        <thead>
                        <tr>
                            <th>
                                <a ng-click="order('name')" href="javascript:void(0);">Document Name </a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'file_name'"></span>
                            </th>
                            <th>
                                <a ng-click="order('file_name')" href="javascript:void(0);">File </a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'name'"></span>
                            </th>
                            <th>
                                <a ng-click="order('description')" href="javascript:void(0);">Description</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'description'"></span>
                            </th>
                            <th>
                                <a ng-click="order('cat_name')" href="javascript:void(0);">Category Name</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'cat_name'"></span>
                            </th>
                            <th>
                                <a ng-click="order('cat_name')" href="javascript:void(0);">Added By / Last Updated By</a>

                            </th>
                            <th>
                                <a ng-click="order('timeadded')" href="javascript:void(0);">Time Added / Last Edited</a>
                                <span class="sortorder" ng-class="{reverse:reverse}" ng-show="predicate === 'timeadded'"></span>
                            </th>

                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat=" item in  filterResult = (documentlist | filter:search) | startFrom:(currentPage-1)*perPage | limitTo:perPage | orderBy:predicate:reverse">
                            <td >{{item.name}}</td>
                            <td><a href="{{item.file_url}}" target="_blank"><img src="../images/icon/{{item.file_type.toLowerCase()}}.png" width="20">{{item.file_name}}</a></td>
                            <td ><div ng-bind-html=" item.description | sanitizelimit | limitTo : 20 ">
                                </div>
                                <a class ="filedesc" data-toggle="popover"  data-content="{{item.description}}" href="javascript:void(0)" > <span class="glyphicon glyphicon-eye-open" style="font-weight:normal;"></span></a>

                            </td>
                            <td>{{item.cat_name}}</td>
                            <td>{{item.fname}} {{item.lname}}</td>
                            <td>{{(item.timeval)}}</td>



                            <td>
                                <a tooltip-placement="bottom" uib-tooltip="Click to resore product" href="javascript:void(0)" ng-click="docresotre(item)">Restore</a><br>
                                <a tooltip-placement="bottom" uib-tooltip="Click to permanent delete product" href="javascript:void(0)" ng-click="docdelperm(item)">Permanent Delete</a><br>

                            </td>
                        </tr>

                          </tbody>

                    </table>
                    <div ng-show="filterResult.length > perPage" class="paginationblock">
                        <uib-pagination total-items="filterResult.length" ng-model="currentPage" items-per-page="perPage" max-size="4"></uib-pagination>
                    </div>


                    <div ng-show="documentlist.length == 0" class="callout callout-danger">
                        <h4>Sorry</h4>

                        <p>No document exists in system right now !!.</p>
                    </div>



                </div><!-- /.box -->





            </div>



        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div>



<script type="text/ng-template" id="docdelperm.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/newloginclose.png"> </a>
        <div class="clearfix"></div>
        <h2 style="text-align: left; font-size: 20px; padding: 10px 0;">Are You Sure Want To Permanet Delete This Document?</h2>
        <div class="confirm_delbtn ng-scope">
            <input type="button" class="subbtn" value="Yes" ng-click="docdelpermconf()">
            <input type="button" ng-click="cancel()" class="subbtn" value="No">
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</script>

<script type="text/ng-template" id="docresotre.html">
    <div class="confirm_delpopup" >
        <a ng-click="cancel()" class="shutter-close2 ng-scope" href="javascript:void(0)"><img src="images/newloginclose.png"> </a>
        <div class="clearfix"></div>
        <h2 style="text-align: left; font-size: 20px; padding: 10px 0;">Are You Sure Want To Resore This Document?</h2>
        <div class="confirm_delbtn ng-scope">
            <input type="button" class="subbtn" value="Yes" ng-click="docresotreconf()">
            <input type="button" ng-click="cancel()" class="subbtn" value="No">
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
</script>
