<div id="mydiv" ng-show='stateIsLoading'>
    <div class="loader"></div>
</div>
<div class="userreset-boxwrapper">
    <table>
        <tr>
            <td>

            <div class="login-box">

<div class="login-boxwrapper">
      <div class="login-logo">
          <img src="../images/logo1.png" alt="#" style="display:block; width:96%; margin:0 auto; margin-top:30px;">
      </div><!-- /.login-logo -->
      <div class="login-box-body">
      <img src="../images/newlockicon.png" alt="#" style="display:block; margin:0 auto;">
        <p class="login-box-msg" style=" font-size:22px;">Reset Password</p>
          <form angular-validator-submit="submit()"  name="loginForm"  class="form-horizontal" novalidate angular-validator>
              <div ng-show="errormsg==1" style="padding-bottom: 15px; text-align: center">Either this url has been already used before or not valid</div>
              <div ng-show="sucmsg==1" style="padding-bottom: 15px;">Your password reset successfully. Please <a ui-sref="login">Log In</a></div>
              <div class="form-group has-feedback" style="margin-left:0; margin-right:0">
                  <input type="password" id="UserManager_newpassword" name="UserManager[newpassword]" placeholder="NEW PASSWORD"
                         validate-on="dirty"
                         class = "form-control"
                         ng-model = "form.newpassword"
                         validator = "custompassword()===true"
                         invalid-message = "custompassword()">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback" style="margin-left:0; margin-right:0">
              <input type="password" id="UserManager_confpassword" name="UserManager[confpassword]" placeholder="RETYPE NEW PASSWORD"
                     validate-on="dirty"
                     class = "form-control"
                     ng-model = "form.confirmpassword"
                     required-message="'Re-Type password can not be blank. '"
                     validator="form.confirmpassword === form.newpassword"
                     invalid-message="'Passwords do not match!'"
                     required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-xs-12" style="padding-top:0px; margin-top:0px;">
              <button type="submit" class="btn btn-primary btn-block btn-flat loginbtn">Submit</button>
            </div><!-- /.col -->
          </div>
        </form>





      </div><!-- /.login-box-body -->
    </div>

   </div>
            </td>
        </tr>
    </table>
</div>
