<div id="mydiv" ng-show='stateIsLoading'>
    <div class="loader"></div>
</div>
<div class="userreset-boxwrapper">
    <table>
        <tr>
            <td>
                <div class="userreset-box">
                    <div class="login-boxwrapper">
                        <div class="login-logo">
                            <img src="../images/logo2.png" alt="#" style="display:block; width:96%; margin:0 auto; margin-top:10px;">
                        </div><!-- /.login-logo -->
                        <div class="login-box-body">
                            <p class="login-box-msg" ng-show="isLoad">Your account has been activated.</p>
                            <p class="loginaccess">Click on <a ui-sref="login">login</a> to get access to your account</p>
                        </div><!-- /.login-box-body -->
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
